body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #434455;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.link-active-underline:active {
  color: #404bbf;
  text-decoration: underline;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

h2,
h3 {
  color: #2e2f42;
}

.item-header-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.paragraph-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.label-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-logo {
  display: flex;
  align-items: center;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.accent-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header .text-logo {
  margin-right: 76px;
  padding: 24px 0;
}

.text-logo-customization {
  color: #4d5ae5;
}

.header a {
  color: #2e2f42;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.nav-list-link {
  display: block;
  padding: 24px 0;
  position: relative;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-link.current {
  color: #404bbf;
}

.nav-list-link:after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-link:hover:after,
.nav-list-link:focus:after,
.nav-list-link.current:after {
  opacity: 1;
}

.header-address {
  font-style: normal;
  margin-left: auto;
}

.header-address a {
  color: #434455;
}

.address-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.address-list-link {
  display: block;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a:hover,
a:focus {
  color: #404bbf;
}

.hero-section {
  background-color: #2e2f42;
  padding: 188px 0;
  background-image:
    linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/HeroBackground.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}

.hero-section-header {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  max-width: 496px;
  margin: 0 auto 48px;
}

.hero-btn {
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  border: none;
  padding: 16px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

.features-section {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}

.features-list-item {
  width: 264px;
}

.features-icon-container {
  width: 264px;
  height: 112px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background-color: #f4f4fd;
  margin-bottom: 8px;
}

.features-item-header {
  margin-bottom: 8px;
}

.team-section {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-list {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}

.team-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 32px 16px;
}

.team-list-item {
  background-color: #fff;
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
  overflow: hidden;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-section-header,
.portfolio-section-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
}

.team-item-header {
  text-align: center;
}

.team-item-paragraph {
  text-align: center;
}

.team-social-links-list {
  gap: 24px;
}

.team-social-link,
.footer-social-link {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: #404bbf;
}

.team-social-links-icon,
.footer-social-links-icon {
  fill: #f4f4fd;
}

.portfolio-section {
  padding: 120px 0;
}

.portfolio-list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-list-item {
  flex-basis: calc((100% - 48px) / 3);
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-text-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

.portfolio-img-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-item-text {
  color: #f4f4fd;
  background-color: #4d5ae5;
  position: absolute;
  padding: 40px 32px;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover {
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-list-item:hover .portfolio-item-text {
  transform: translateY(0);
}

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.footer-text-container {
  gap: 16px;
  text-align: start;
}
.footer-logo {
  display: flex;
  align-items: center;
  max-width: 115px;
}

.footer-text-color {
  color: #f4f4fd;
}

.footer-paragraph {
  max-width: 264px;
}

.footer-links-container {
  margin-left: 120px;
  gap: 16px;
}

.footer-links-text {
  color: #fff;
}

.footer-social-links-list {
  gap: 16px;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.footer-subscribe-container {
  margin-left: auto;
  gap: 16px;
}

.footer-form-wrapper {
  display: flex;
  align-items: center;
  gap: 24px;
}

.footer-subscribe-input {
  border: 1px solid #fff;
  border-radius: 4px;
  min-width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  padding: 8px 16px;
  color: #fff;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}

.footer-subscribe-input:focus {
  outline: none;
  border: 1px solid #31d0aa;
}

.subscribe-btn {
  padding: 8px 24px;
  min-width: 165px;
  min-height: 40px;
}

.subscribe-btn-content {
  gap: 16px;
}

.subscribe-icon {
  fill: #fff;
}

.subscribe-btn:is(:hover, :focus) {
  background-color: #31d0aa;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fcfcfc;
  width: 408px;
  min-height: 584px;
  box-shadow:
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 24px;
  padding-right: 24px;
}

.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -50%) scale(1.5);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 4px;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:is(:hover, :focus) {
  background-color: #4d5ae5;
  border: transparent;
}

.modal-close-btn:is(:hover, :focus) .modal-close-icon {
  fill: #ffffff;
}

.modal-text {
  text-align: center;
  color: #2e2f42;
  margin-top: 72px;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
}

.input-container {
  gap: 4px;
  margin-bottom: 8px;
  width: 100%;
  min-height: 40px;
}

.form-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  padding-right: 16px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea {
  height: 120px;
  resize: none;
  padding: 8px 16px;
  margin-bottom: 16px;
}
.form-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.form-input:focus {
  border: 1px solid #4d5ae5;
  outline: none;
}

.input-wrapper {
  position: relative;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  pointer-events: none;
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .input-icon {
  fill: #4d5ae5;
}

.checkbox-container {
  margin-bottom: 24px;
}

.checkbox-label {
  display: flex;
  align-items: center;
}

.checkbox-custom {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  transition:
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-icon {
  fill: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-input:checked + .checkbox-label > .checkbox-custom {
  background-color: #404bbf;
  border: 1px solid #404bbf;
}
.checkbox-input:checked + .checkbox-label > .checkbox-custom > .checkbox-icon {
  fill: #f4f4fd;
}

.policy-link {
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy-link:is(:hover, :focus) {
  color: #404bbf;
}

.modal-submit-btn {
  min-width: 169px;
  min-height: 56px;
}
